html {
  box-sizing: border-box;
  line-height: 1.25;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.logo {
  float: left;
  width: 10%;
}

header {
  padding-top: 1em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

img {
  width: 100%;
  padding: 0;
}

.sevenstuff {
  background: url("../images/panorama.jpg") center center / cover no-repeat;
  clear: both;
  text-align: center;
  color: white;
  padding: 2em 2em 2em 2em;
}

h1 {
  text-align: center;
  font-size: 28px;
}

h2 {
  text-align: center;
  padding: .5em;
  margin: 0;
  clear: both;
  font-size: 24px;
}

h3 {
  margin: 0;
  clear: both;
  padding: .25em .25em .25em 1em;
  font-size: 18px;
}

nav {
  margin: 0;
  background-color:
  color: black;
  font-size: 12px;
}

nav li {
  display: block;
  width: 25%;
  float: left;
  list-style-type: none;
}

.navk {
  padding: 1em 2em 3em 2em;
  margin: 0;
  background-color: lightblue;
  color: white;
  font-size: 12px;
}

.left {
  float:left;
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding: 0em 0.25em 0em 1em;
}

.middle {
  float:middle;
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding: 0em 0.25em 0em 1em;
}

.right {
  float:right;
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding: 0em 0.25em 0em 1em;
}

li {
  list-style-type: none;
}

ol {
  padding: 0em 0em 1em 0em;
  margin: 0;
}

.atlantisz {
  padding: 2em 2em 2em 2em;
  background: url("../images/atlantisz.jpg") center center / cover no-repeat;
  clear: both;
  text-align: center;
  color: white;
  font-size: 14pt;

}
