html {
  box-sizing: border-box;
  line-height: 1.25;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.logo {
  float: left;
  width: 10%;
}

header {
  background-color:
  padding-top: 1em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

img {
  width: 100%;
  padding: 0;
}
